body {
  font-family: "Montserrat", sans-serif;
}

/* header--------------------------------------- */

header {
  display: flex;
  max-width: 100%;
  height: 100px;
  align-items: center;
  padding-left: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  gap: 100px;
  border-bottom: 1px solid lightgray;
}
header img {
  height: 80px;
}

/* section boutons--------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* s-color: pink; */
}

.addcounter {
  font-size: 20px;
  color: aliceblue;
  height: 60px;
  width: 150px;
  border-radius: 5px;
  background-color: #5c48d3;
  border: none;
  margin-top: 90px;
}

.sectionOne {
  display: flex;
  /* background-color: pink; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
}

.buttons {
  /* background-color: pink; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.one {
  /* background-color: blue; */
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.min,
.add {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  color: black;
  font-size: 60px;
  border: none;
}

.buttons .coun {
  background-color: #5c48d3;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  color: aliceblue;
  font-size: 45px;
  border: none;
}

.reset {
  font-size: 20px;
  color: aliceblue;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  background-color: #5c48d3;
  border: none;
}

/* footer--------------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
footer span {
  font-weight: bold;
}
